a {
    text-decoration: none;
}

.navbar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 5px;
    position: relative;
    background: #eee;
}

.navbar-title h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 30px;
    letter-spacing: 0.8rem;    
}

.navbar-title h3 {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    opacity: 0.5;
}

.navbar-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: #ffffff;
}

.navtabs {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.navtabs:any-link {
    color: black;
}

.church-introduction{
    font-weight: 500;
    margin: 0 3vw 2vh 5vw;
    letter-spacing: 0.1rem
    
}

#text-content {
    font-family: Arial, Helvetica, sans-serif;
}

.initials {
    display: inline;
    font-size: large;
    font-weight: 400;
}

.church {
    display: block;
    height: 100vh;
}

.title {
    margin: 10vh 10vw 5vh 5vw;
    letter-spacing: 0.4rem;
}

.church-text-content {
    width: 50vw;
}
