a {
    text-decoration: none;
}

.navbar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 5px;
    position: relative;
    background: #eee;
}

.navbar-title h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 30px;
    letter-spacing: 0.8rem;    
}

.navbar-title h3 {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    opacity: 0.5;
}

.navbar-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: #ffffff;
}

.navtabs {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.navtabs:any-link {
    color: black;
}

.church-introduction{
    font-weight: 500;
    margin: 0 3vw 2vh 5vw;
    letter-spacing: 0.1rem
    
}

#text-content {
    font-family: Arial, Helvetica, sans-serif;
}

.initials {
    display: inline;
    font-size: large;
    font-weight: 400;
}

.church {
    display: block;
    height: 100vh;
}

.title {
    margin: 10vh 10vw 5vh 5vw;
    letter-spacing: 0.4rem;
}

.church-text-content {
    width: 50vw;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.top-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
    margin-bottom: 60px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-us-title {
    font-size: 3.5em;
    font-weight: 500;
    font-family:Hoefler Text;
    letter-spacing: 2px;
}

.welcoming-words {
    font-size: 1.25em;
    font-weight: 500;
    font-family: Calibri;
    letter-spacing: 1px;
    padding: 15px 60px 30px 60px;
    border-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
}

.contacts-means {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-means-block {
    display: flex;
    flex-direction: row;
    padding:5px;
}

.contacts-means-name {
    font-family: Tahoma;
    font-size: 1.3em;
    font-weight: 500;
}

.contact-means-info {
    letter-spacing: 1px;
    font-family: Century Gothic;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 3px;
}

.mail-link {
    color:black;
    text-decoration: underline;
}

.bottom-member-blocks {
    padding-top: 30px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:3vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.bottom-single-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    border:solid;
    border-width: 2px;
    padding:20px 60px 20px 20px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

.contacts-block-title {
    font-size: 1.2em;
    color:rgb(0, 0, 0);
    font-family: Tahoma;
}

.contacts-block-info {
    padding-top: 5px;
    color:rgb(0, 0, 0);
    font-family:Century Gothic;
}

#email-in-block {
    padding-left: 4px;
    color:rgb(0, 0, 0);
    font-family:Century Gothic;
}
